<app-customer-header></app-customer-header>


<main id="main" class="bg">

    <div class="div" style="text-align: center;">
        <h3 class="heading text">Forgot Password</h3>

    </div>

    <div class="row">
        <div class="col-3">
            <h3 style="    background: #5F9B68;color:white;    margin-bottom: 0px;padding-left: 5px;">TNHB</h3>
            <img src="../../../assets/images/forgotimg.jpg" style="background: white;width:100%">
        </div>

        <div class="col-6" style="background: white;">

            <form style="margin-top: 10px;" [formGroup]="form">

                <mat-radio-group aria-label="Select an option" [(ngModel)]="options"
                    (change)="onSelectionChange($event)" [ngModelOptions]="{standalone: true}">
                    <mat-radio-button value="1">Login ID (User Name)</mat-radio-button>
                    <mat-radio-button value="2">Mobile</mat-radio-button>
                    <mat-radio-button value="3">Email</mat-radio-button>
                    <mat-radio-button value="4">Aadhar No.</mat-radio-button>

                </mat-radio-group>

                <div class="row">
                    <div class="col-6" *ngIf="options=='1' ">
                        <label>LoginId</label><br>
                        <input class="input_width" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}"
                            maxlength="20" (keypress)="inputValidate($event,'alphaNumeric')">

                    </div>
                    <div class="col-6" *ngIf="options=='2' ">
                        <label>Mobile Number</label><br>

                        <input class="input_width" [(ngModel)]="mobile" [ngModelOptions]="{standalone: true}"
                            maxlength="10" (keypress)="inputValidate($event,'numbersonly')">

                    </div>
                    <div class="col-6" *ngIf="options=='3' ">
                        <label>Email ID</label><br>

                        <input [(ngModel)]="email" class="input_width" [ngModelOptions]="{standalone: true}"
                            maxlength="30">

                    </div>
                    <div class="col-6" *ngIf="options=='4' ">
                        <label>Aadhar Number</label><br>

                        <input [(ngModel)]="aadharno" class="input_width" [ngModelOptions]="{standalone: true}"
                            maxlength="12" (keypress)="inputValidate($event,'numbersonly')">
                    </div>
                    <div class="col-6">
                        <br>
                        <button type="submit" class="btn btn-primary" style="    font-size: large;background: #82B964;;"
                            (click)="search()">Search</button>
                        <button type=" submit" class="btn btn-primary"
                            style="    font-size: large;margin-left: 10px;background: #F0AD4E;">Clear</button>
                    </div>
                </div>
                <div class="row" *ngIf="isViewVerify1">
                    <div class="col-6">
                        <label>Enter OTP</label><br>
                        <input class="input_width" [(ngModel)]="verify1" [ngModelOptions]="{standalone: true}"
                            maxlength="5" type="tel" (keypress)="inputValidate($event,'numbersonly')">

                    </div>

                    <div class="col-6">
                        <br>
                        <button type="submit" class="btn btn-primary" style="    font-size: large;"
                            (click)="verifyapi1()">Verify</button>

                    </div>

                </div>

                <div class="row">
                    <div class="col-6">
                        <label>Name</label><br>
                        <input class="input_width readOnly" formControlName="name" readonly>
                    </div>

                    <div class="col-6">
                        <label>email ID</label><br>
                        <input class="input_width readOnly" formControlName="emailID" readonly>
                    </div>

                    <div class="col-6">
                        <label>Mobile Nummber</label><br>
                        <input class="input_width readOnly" formControlName="mobileNummber" readonly>
                    </div>

                    <div class="col-6">
                        <label>Aadhar No.</label><br>
                        <input class="input_width readOnly" formControlName="aadharno" readonly>
                    </div>
                </div>
                <div class="row" *ngIf="isViewVerify2">
                    <div class="col-6">
                        <mat-radio-group aria-label="Select an option" [(ngModel)]="options2"
                            [ngModelOptions]="{standalone: true}">
                            <mat-radio-button value="1">OTP</mat-radio-button>
                            <mat-radio-button value="2">Email</mat-radio-button>


                        </mat-radio-group>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary" style="    font-size: large;background: #82B964;;"
                            (click)="verifyapi2()">Send</button>

                    </div>
                </div>

                <div class="row" *ngIf="isPaswordView">
                    <div class="col-6">
                        <label>Enter OTP</label><br>
                        <input class="input_width" [(ngModel)]="verify2" [ngModelOptions]="{standalone: true}"
                            (keypress)="inputValidate($event,'numbersonly')">
                    </div>
                    <div class="col-6">
                    </div>

                    <div class="col-6">

                        <label>Enter New Password</label><br>
                        <input class="input_width" formControlName="password" type="password" maxlength="20">
                        <div *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')"
                            class="text-danger">
                            Password is required
                        </div>
                        <div *ngIf="form.get('password')?.touched && form.get('password')?.hasError('minLength')"
                            class="text-danger">
                            Password must be at least 8 characters long
                        </div>
                        <div *ngIf="form.get('password')?.touched && form.get('password')?.hasError('pattern')"
                            class="text-danger">
                            Password must contain at least one uppercase letter, one lowercase letter, one digit, and
                            one
                            special character
                        </div>


                    </div>
                    <div class="col-6">

                        <label>Enter Confirm Password</label><br>
                        <input class="input_width" formControlName="confirmPassword" type="password" maxlength="20">

                        <div *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('required')"
                            class="text-danger">
                            Password is required
                        </div>
                        <div *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('minLength')"
                            class="text-danger">
                            Password must be at least 8 characters long
                        </div>
                        <div *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('pattern')"
                            class="text-danger">
                            Password must contain at least one uppercase letter, one lowercase letter, one digit, and
                            one
                            special character
                        </div>

                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" style="    font-size: large;background: #82B964;"
                            (click)="changePassword()">Change Password</button>
                    </div>
                </div>



            </form>
        </div>

        <div class=" col-3">
            <h3 style="    background: #5F9B68;color:white;    margin-bottom: 0px;padding-left: 5px;">
                TNHB</h3>

            <!-- <img src="../../../assets/images/TamilNaduState.jpg" style="background: white;width:100%"> -->
            <img src="../../../assets/images/Map.jpg" style="background: white;width:100%">


        </div>

    </div>

</main>