<div class="container-fluid d-flex flex-column p-0" style="min-height: 100vh;">
    <app-customer-header class="sticky-top"></app-customer-header>

    <main id="main" class="flex-grow-1">

        <section class="booking">
            <button class="titleCard btn_style">Type Details</button>
            <!-- <button (click)="back()" mat-raised-button class="primary" style="float: right;
            background: bisque;
            font-weight: bold;">Back</button> -->
            <div class="row mb-2">
                <div class="col-2 mb-2">
                    <label for="schemeCode" class="col-auto col-form-label">Scheme Code</label>
                    <input readonly type="text" class="form-control input-color" id="schemeCode"
                        [value]="schemeData.schemeCode">
                </div>
                <div class="col-3 mb-2">
                    <label for="schemeName" class="col-auto col-form-label">Scheme Name</label>
                    <input readonly type="text" class="form-control input-color" id="schemeName"
                        [value]="schemeData.schemeName">
                </div>
                <div class="col-2 mb-2">
                    <label for="district" class="col-auto col-form-label">District</label>
                    <input readonly type="text" class="form-control input-color" id="district"
                        [value]="schemeData.district">
                </div>
                <div class="col-1 mb-2">
                    <label for="type" class="col-auto col-form-label">Type</label>
                    <input readonly type="text" class="form-control input-color" id="type"
                        [value]="schemeData.schemeType">
                </div>
                <div class="col-1 mb-2">
                    <label for="unitType" class="col-auto col-form-label">Unit Type</label>
                    <input readonly type="text" class="form-control input-color" id="unitType"
                        [value]="schemeData.unitType">
                </div>
                <div class="col-1 mb-2">
                    <label for="totalConstructed" class="col-auto col-form-label">Total </label>
                    <input readonly type="text" class="form-control input-color" id="totalConstructed"
                        [value]="schemeData.totalUnit" style="text-align: center;">
                </div>
                <div class="col-1 mb-2">
                    <label for="totalAllotted" class="col-auto col-form-label"> Allotted</label>
                    <input readonly type="text" class="form-control input-color" id="totalAllotted"
                        [value]="allottedUnits" style="text-align: center;">
                </div>
                <div class="col-1 mb-2">
                    <label for="totalAvailable" class="col-auto col-form-label"> Available</label>
                    <input readonly type="text" class="form-control input-color" id="totalAvailable"
                        [value]="unsoldUnits" style="text-align: center;">
                </div>
                <div class="col-2 mb-2" *ngIf="schemeData.unitType!='House' ">
                    <label for="uds" class="col-auto col-form-label">UDS</label>
                    <input readonly type="text" class="form-control input-color" id="uds" [value]="schemeData.uds">
                </div>
                <div class="col-2 mb-2" *ngIf="schemeData.unitType!='Plot' ">
                    <label for="plinthArea" class="col-auto col-form-label">Plinth Area</label>
                    <input readonly type="text" class="form-control input-color" id="plinthArea"
                        [value]="schemeData.plinthArea">
                </div>
                <div class="col-2 mb-2" *ngIf="schemeData.unitType=='House' ">
                    <label for="plinthArea" class="col-auto col-form-label">Selling Extent</label>
                    <input readonly type="text" class="form-control input-color" id="plinthArea"
                        [value]="schemeData.sellingExtent">
                </div>

            </div>
            <hr style="border-top: 3px solid;">
            <button class="titleCard btn_style">Available Units Booking Status</button>

            <button style="width: 20px;
                height: 20px;
                font-size: smaller;
                font-weight: bold;margin-left: 20px;">i</button>
            <span class="completed-circle-name">Unit Information</span>

            <div class="d-flex mb-2">
                <div class="d-flex align-items-center">
                    <div class="available-circle"></div>
                    <span class="available-circle-name">Not Booked</span>
                </div>
                <div class="d-flex align-items-center ms-2">
                    <div class="pending-circle"></div>
                    <span class="pending-circle-name">Under Processing</span>
                </div>
                <div class="d-flex align-items-center ms-2">
                    <div class="completed-circle"></div>
                    <span class="completed-circle-name">Booked</span>
                </div>
                <div class="d-flex align-items-center ms-2">
                    <div class="allotted-circle"></div>
                    <span class="allotted-circle-name">Allotted</span>
                </div>
                <!-- <div class="d-flex align-items-center ms-2">
                    <button style="width: 20px;
                    height: 20px;
                    font-size: smaller;
                    font-weight: bold;">i</button>
                    <span class="completed-circle-name">Unit Information</span>
                </div> -->
            </div>


            <h5 style="font-size: 1rem;font-weight: bold;">Units</h5>
            <div class="mb-2" style="display: flex;flex-wrap: wrap;gap:1rem">
                <div *ngFor="let unit of unitData">
                    <!-- <button (click)="updateBookingStatus(unit)" class="btn" style="width: 5rem;"
                        [ngStyle]="getButtonStyle(unit.applicationStatus)"
                        [disabled]="getButtonDisabled(unit.applicationStatus)">{{unit.unitNo}}</button> -->
                    <!-- style="width: 5rem;" -->
                    <button class="btn" (click)="proceedToApplication(unit)"
                        [ngStyle]="getButtonStyle(unit.bookingStatus,unit)"
                        *ngIf="unit.unitAllottedStatus!='Yes' ">{{unit.unitNo}}</button>
                    <button class="btn" style="background: cornflowerblue;color: white;"
                        (click)="proceedToApplication(unit)"
                        *ngIf="unit.unitAllottedStatus=='Yes' ">{{unit.unitNo}}</button>
                    <button matTooltip="Info about the action" (click)="viewInformation(unit)" style="height: 30px;"
                        *ngIf="unit.bookingStatus != 'Completed' && unit.bookingStatus != 'Pending' || (unit.bookingStatus == 'Pending' && unit.minutes==0 && unit.seconds==0)">i</button>
                    <!-- [disabled]="getButtonDisabled(unit.bookingStatus,unit)" -->
                    <br>
                    <p class="timer" [ngClass]="{ 'warning':unit.minutes <= 10, 'danger': unit.minutes <= 1 }"
                        style="text-align: center;"
                        *ngIf="(unit.minutes>0 || unit.seconds>0) && unit.bookingStatus!='Completed' ">
                        <!-- Time remaining: {{ minutes }}:{{ seconds }} -->
                        <!-- {{unit.minutes }}:{{ unit.seconds }} {{currentTime}} -->
                        {{unit.minutes }}:{{ unit.seconds }}


                    </p>
                </div>


            </div>


            <div *ngIf="schemeData.schemeType === 'HIG' || schemeData.schemeType === 'MIG'" hidden>
                <hr style="border-top: 3px solid;">

                <h5 style="font-size: 1rem; font-weight: bold;">Car Parking Slot 1</h5>
                <div class="mb-2 car-parking-slot car-parking-slot1" style="display: flex; flex-wrap: wrap; gap: 1rem">
                    <div *ngFor="let i of totalCoveredCarparking">
                        <button class="btn" [class.selected]="selectedCarParkingSlot1 === i"
                            (click)="selectCarParkingSlot1(i)">
                            {{ i }}
                        </button>
                    </div>
                </div>

                <hr style="border-top: 3px solid;">

                <h5 style="font-size: 1rem; font-weight: bold;">Car Parking Slot 2</h5>
                <div class="mb-2 car-parking-slot car-parking-slot2" style="display: flex; flex-wrap: wrap; gap: 1rem">
                    <div *ngFor="let i of openCoveredCarParking">
                        <button class="btn" [class.selected]="selectedCarParkingSlot2 === i"
                            (click)="selectCarParkingSlot2(i)">
                            {{ i }}
                        </button>
                    </div>
                </div>
            </div>
        </section>

    </main>

</div>