#main {
    padding: 2rem;

    .heading {
        margin-bottom: 1.5rem;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .border_div {
        border: solid 1px black;
        padding: 5px;
    }

    .row_paddding {
        // padding-left: 20px;
        // padding-right: 20px;
        padding-top: 10px;
    }

    .form-container {
        width: 100%;
        height: 600px;
        // background-image: url('https://images.wuzzuf-data.net/files/company_logo/1610930992623c809987f2b.png');
        /* Replace with your image */
        background-size: cover;
        background-repeat: no-repeat;
        // padding: 20px;
    }

    mat-select {
        // background: rosybrown;
        border: solid 1px rosybrown !important;
    }

    .autofetch {
        // background: #808080ad;
        background: rosybrown
    }

    .mat_divider {
        background: black;
    }

    @keyframes colorChange {
        0% {
            background: white;
            color: darkred;
            font-weight: 600;
            border: none;
        }

        // 25% {
        //     color: blue;
        // }

        50% {
            background: green;
            color: white;
            font-weight: 600;
            border: none;

        }

        75% {
            background: #912BBC;
            color: white;
            font-weight: 600;
            border: none;
        }

        100% {
            color: darkred;
            background: orange;
            font-weight: 600;
            border: none;

        }
    }

    .text {
        // position
        position: relative;

        // typography
        // font-size: clamp(4rem, 7vw, 8rem);

        // animation
        animation: colorChange 4s infinite;
    }
}