<div class="layout-container" [class.layout-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="layout-toolbar">
        <div style="display: flex;align-items: center;">
            <button mat-icon-button (click)="snav.toggle()" style="color: black;"><mat-icon>menu</mat-icon></button>
            <!-- <img src="../../../assets/images/tnhb_logo.png" alt="TNHB Logo" style="height: 3rem;"> -->
        </div>
        <div style="display: flex;align-items: center;    gap: 10px;">
            <img src="../../../assets/icons8-home_animate.gif" alt="TNHB Logo" style="height: 2.5rem;">

            <!-- <img src="../../../assets/images/icons8-home-96.png" alt="TNHB Logo" style="height: 4rem;"> -->
            <!-- <img src="../../../assets/images/icons8-home-100.png" alt="TNHB Logo" style="height: 2.5rem;"> -->


            <h4 style="color: black;font-size: 1rem;margin-left: 5px;">Tamilnadu Housing Board</h4>
            <!-- <img src="../../../assets/images/tnhb_logo.png" alt="TNHB Logo" style="height: 3rem;"> -->
            <img src="../../../assets/images/tnhb_logo12.png" alt="TNHB Logo" style="height: 4rem;">
            <!-- <img src="../../../assets/images/logo-left.png" alt="TNHB Logo" style="height: 3rem;"> -->

            <h4 style="color: black;font-size: 1rem;font-weight: bold;margin-left: 5px;"> தமிழ்நாடு வீட்டு வசதி வாரியம்
            </h4>
        </div>


        <div style="display: flex;align-items: center;">
            <h4 style="color: black;font-size: 1rem;" class="animate-charcter">{{ username }}</h4>
            <img src="../../../assets/images/person.png" alt="" style="height: 1.5rem;margin-left: 1rem;">
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="layout-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" [opened]="true">
            <!-- <ul class="sidenav-btn">
                <li><button class="btn mb-2" routerLink="/customer/home" routerLinkActive="active-link"><i
                            class="fa-solid fa-house"></i><span class="ms-2">Home</span></button></li>
                <li><a><button class="btn mb-2" routerLink="/customer/application-history"
                            routerLinkActive="active-link"><i class="fa-solid fa-timeline"></i><span
                                class="ms-2">Application
                                History</span></button></a>
                    <a><button class="btn mb-2" routerLink="/customer/application-history"
                            routerLinkActive="active-link"><i class="fa-solid fa-timeline"></i><span
                                class="ms-2">Application
                                History</span></button></a>
                </li>

                <li><button class="btn mb-2" routerLink="/customer/payment-history" routerLinkActive="active-link"><i
                            class="fa-solid fa-file-invoice-dollar"></i><span class="ms-2">Payment
                            History</span></button></li>
                <li><button (click)="logout()" class="btn mb-2">Logout</button></li>
            </ul> -->


            <ul class="sidenav-btn">
                <span style="font-weight: bold;
                text-align: center;
                font-size: 20px;color: white;">Buyer/Allottee Role</span>

                <li *ngIf="role !== 'AE' && role !== 'AEE' && role !=='Surveyor'&& role!=='DE' ">
                    <button class="btn mb-2" (click)="toggleSubMenu('')" routerLink="/customer/customer_dashboard"
                        routerLinkActive="active-link">
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                        <span class="ms-2">Dashboard</span>
                        <!-- <mat-icon style=" vertical-align: bottom;float: right;">keyboard_arrow_down</mat-icon> -->

                    </button>


                </li>
                <!-- <li><button class="btn mb-2" routerLink="/customer/home" routerLinkActive="active-link"
                        (click)="toggleSubMenu('')"><i class="fa-solid fa-house"></i><span class="ms-2">Book
                            Now</span></button></li> -->
                <li><button class="btn mb-2" routerLink="/customer/allottee_application" routerLinkActive="active-link"
                        (click)="toggleSubMenu('')"><i class="fa-solid fa-house"></i><span
                            class="ms-2">Application</span></button></li>


                <li *ngIf="role !== 'AE' && role !== 'AEE' && role !=='Surveyor'&& role!=='DE' ">
                    <button class="btn mb-2" (click)="toggleSubMenu('')" routerLink="/customer/allotmentorder_download"
                        routerLinkActive="active-link">
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                        <span class="ms-2">Allotment Order</span>
                        <!-- <mat-icon style=" vertical-align: bottom;float: right;">keyboard_arrow_down</mat-icon> -->

                    </button>

                    <!-- <ul *ngIf="subMenu === 'AllotmentOrderBuyer'" class=" sub-menu">
                        <li>
                            <button class="btn mb-2" routerLink="/customer/allotmentorder_download"
                                routerLinkActive="active-link">
                                <span class="ms-2 font_family">Download</span>
                            </button>
                        </li>
                        <li>
                            <button class="btn mb-2" routerLink="/customer/allotmentorder_downloaded"
                                routerLinkActive="active-link">
                                <span class="ms-2 font_family">Downloaded</span>
                            </button>
                        </li>

                    </ul> -->
                </li>

                <li *ngIf="role !== 'AE' && role !== 'AEE' && role !=='Surveyor'&& role!=='DE' ">
                    <button class="btn mb-2" (click)="toggleSubMenu('LCSAgreementBuyer')">
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                        <span class="ms-2">LCS Agreement</span>
                        <mat-icon style=" vertical-align: bottom;float: right;"
                            *ngIf="subMenu != 'LCSAgreementBuyer'">keyboard_arrow_down</mat-icon>
                        <mat-icon style=" vertical-align: bottom; float: right;"
                            *ngIf="subMenu === 'LCSAgreementBuyer'">keyboard_arrow_up</mat-icon>
                    </button>

                    <ul *ngIf="subMenu === 'LCSAgreementBuyer'" class=" sub-menu">

                        <li>
                            <button class="btn mb-2" routerLink="/customer/allottee_LCS_downloaded"
                                routerLinkActive="active-link">
                                <span class="ms-2 font_family">Download</span>
                            </button>
                        </li>
                        <li>
                            <button class="btn mb-2" routerLink="/customer/allottee_LCS_upload"
                                routerLinkActive="active-link">
                                <span class="ms-2 font_family">Upload After Sign</span>
                            </button>
                        </li>

                        <li>
                            <button class="btn mb-2" routerLink="/customer/allottee_LCS_Approve_downloaded"
                                routerLinkActive="active-link">
                                <span class="ms-2 font_family">LCS Approved</span>
                            </button>
                        </li>



                    </ul>
                </li>

                <li *ngIf="role !== 'AE' && role !== 'AEE' && role !=='Surveyor'&& role!=='DE' ">
                    <button class="btn mb-2" (click)="toggleSubMenu('A&BBuyer')">
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                        <span class="ms-2">A&B Certificate</span>
                        <mat-icon style=" vertical-align: bottom;float: right;"
                            *ngIf="subMenu != 'A&BBuyer'">keyboard_arrow_down</mat-icon>
                        <mat-icon style=" vertical-align: bottom; float: right;"
                            *ngIf="subMenu === 'A&BBuyer'">keyboard_arrow_up</mat-icon>
                    </button>

                    <ul *ngIf="subMenu === 'A&BBuyer'" class=" sub-menu">

                        <li>
                            <button class="btn mb-2" routerLink="/customer/allottee_uploadPrinciple"
                                routerLinkActive="active-link" style="text-align: center;">
                                <span class="ms-2 font_family">Upload In Principle Loan Saction Order</span>
                            </button>
                        </li>

                        <li>
                            <button class="btn mb-2" routerLink="/customer/allottee_AandB_download"
                                routerLinkActive="active-link" style="text-align: center;">
                                <span class="ms-2 font_family">Download A & B</span>
                            </button>
                        </li>




                    </ul>
                </li>
                <li>
                    <button class="btn mb-2" routerLink="/customer/application-history" routerLinkActive="active-link"
                        (click)="toggleSubMenu('')">
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                        <span class="ms-2">Payment Status</span>

                    </button>


                </li>
                <li *ngIf="role !== 'AE' && role !== 'AEE' && role !=='Surveyor'&& role!=='DE' ">
                    <button class="btn mb-2" (click)="toggleSubMenu('Echallen')">
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                        <span class="ms-2">E - Challan Status</span>
                        <mat-icon style=" vertical-align: bottom;float: right;"
                            *ngIf="subMenu != 'Echallen'">keyboard_arrow_down</mat-icon>
                        <mat-icon style=" vertical-align: bottom; float: right;"
                            *ngIf="subMenu === 'Echallen'">keyboard_arrow_up</mat-icon>
                    </button>

                    <ul *ngIf="subMenu === 'Echallen'" class=" sub-menu">

                        <li>
                            <button class="btn mb-2" routerLink="/customer/allottee_echallan_generate"
                                routerLinkActive="active-link">
                                <span class="ms-2 font_family">Generate</span>
                            </button>
                        </li>

                        <li>
                            <button class="btn mb-2" routerLink="/customer/allottee_echallan_generated"
                                routerLinkActive="active-link">
                                <span class="ms-2 font_family">Generated</span>
                            </button>
                        </li>
                        <li>
                            <button class="btn mb-2" routerLink="/customer/allottee_challan_cleared"
                                routerLinkActive="active-link">
                                <span class="ms-2 font_family">Cleared</span>
                            </button>
                        </li>


                    </ul>
                </li>
                <li *ngIf="role !== 'AE' && role !== 'AEE' && role !=='Surveyor'&& role!=='DE' ">
                    <button class="btn mb-2" routerLink="/customer/allottee_handover" routerLinkActive="active-link"
                        (click)="toggleSubMenu('')">
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                        <span class="ms-2">Hand Over</span>

                    </button>


                </li>
                <li *ngIf="role !== 'AE' && role !== 'AEE' && role !=='Surveyor'&& role!=='DE' ">
                    <button class="btn mb-2" (click)="toggleSubMenu('DraftSaleDeedBuyer')">
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                        <span class="ms-2">Draft Sale Deed</span>
                        <mat-icon style=" vertical-align: bottom;float: right;"
                            *ngIf="subMenu != 'DraftSaleDeedBuyer'">keyboard_arrow_down</mat-icon>
                        <mat-icon style=" vertical-align: bottom; float: right;"
                            *ngIf="subMenu === 'DraftSaleDeedBuyer'">keyboard_arrow_up</mat-icon>
                    </button>

                    <ul *ngIf="subMenu === 'DraftSaleDeedBuyer'" class=" sub-menu">

                        <li>
                            <button class="btn mb-2" routerLink="/customer/allottee_drafsaledeed_download"
                                routerLinkActive="active-link">
                                <span class="ms-2 font_family">Download</span>
                            </button>
                        </li>
                        <li>
                            <button class="btn mb-2" routerLink="/customer/allottee_drafsaledeed_upload"
                                routerLinkActive="active-link">
                                <span class="ms-2 font_family">Upload NOC </span>
                            </button>
                        </li>
                        <li>
                            <button class="btn mb-2" routerLink="/customer/allottee_drafsaledeed_uploaded"
                                routerLinkActive="active-link">
                                <span class="ms-2 font_family">Uploaded NOC </span>
                            </button>
                        </li>
                        <!-- <li>
            <button class="btn mb-2" routerLink="/employee/pending-applications"
                routerLinkActive="active-link">
                <span class="ms-2 font_family">Uploaded</span>
            </button>
        </li> -->



                    </ul>
                </li>

                <li *ngIf="role !== 'AE' && role !== 'AEE' && role !=='Surveyor'&& role!=='DE' ">
                    <button class="btn mb-2" (click)="toggleSubMenu('SaleDeedBuyer')">
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                        <span class="ms-2"> Sale Deed</span>
                        <mat-icon style=" vertical-align: bottom;float: right;"
                            *ngIf="subMenu != 'SaleDeedBuyer'">keyboard_arrow_down</mat-icon>
                        <mat-icon style=" vertical-align: bottom; float: right;"
                            *ngIf="subMenu === 'SaleDeedBuyer'">keyboard_arrow_up</mat-icon>
                    </button>

                    <ul *ngIf="subMenu === 'SaleDeedBuyer'" class=" sub-menu">

                        <li>
                            <button class="btn mb-2" routerLink="/customer/allottee_saledeed_schedule"
                                routerLinkActive="active-link">
                                <span class="ms-2 font_family">Schedule</span>
                            </button>
                        </li>
                        <!-- <li>
                            <button class="btn mb-2" routerLink="/customer/allottee_saledeed_scheduled"
                                routerLinkActive="active-link">
                                <span class="ms-2 font_family">Scheduled </span>
                            </button>
                        </li> -->

                        <li>
                            <button class="btn mb-2" routerLink="/customer/allottee_saledeed_scheduled"
                                routerLinkActive="active-link">
                                <span class="ms-2 font_family">Issued </span>
                            </button>
                        </li>





                    </ul>
                </li>


                <!-- <li>
                    <button class="btn mb-2" (click)="toggleSubMenu('application')">
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                        <span class="ms-2 font_family ">Allote History</span>
                        <mat-icon style=" vertical-align: bottom; float: right;">keyboard_arrow_down</mat-icon>

                    </button>

                    <ul *ngIf="subMenu === 'application'" class=" sub-menu">
                        <li>
                            <button class="btn mb-2" routerLink="/employee/application-history"
                                routerLinkActive="active-link">
                                <span class="ms-2 font_family">Demand</span>
                            </button>
                        </li>
                        <li>
                            <button class="btn mb-2" routerLink="/employee/goToPaymentHistory"
                                routerLinkActive="active-link">
                                <span class="ms-2 font_family">Verified</span>
                            </button>
                        </li>
                    </ul>


                </li> -->

                <!-- <li><button class="btn mb-2" routerLink="/customer/payment-history" routerLinkActive="active-link"><i
                            class="fa-solid fa-file-invoice-dollar"></i><span class="ms-2">Payment
                            History</span></button></li> -->
                <li><button (click)="logout()" class="btn mb-2">Logout</button></li>
            </ul>


        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>