<main id="main">
    <button class="titleCard">Officer Role</button>
    <button class="titleCard">Cancellation</button>
    <button class="titleCard">Cancelled</button>

    <h5 id="heading">Cancelled</h5>
    <br>
    <div class="row filter-row mb-4 " style="margin-left: 4px;margin-right: 4px;">


        <div class="col">
            <label for="search-input" class="label">Filter</label><br>
            <div class=" search-container">

                <input matInput #input (input)="applyFilter($event)" type="text" id="search-input" class="search-input"
                    placeholder="Search..." style="width: 150px;">
                <div class="search-icon">
                    <mat-icon>search</mat-icon>
                </div>

            </div>
        </div>
        <div class="col">
            <label>Division</label><br>
            <mat-select style="overflow: hidden;" style="padding: 0.5rem 1rem;
            border: 1px solid #ccc;
            border-radius: 1rem;
            background-color: #F6F8FA;border: 1px solid #470A3C;" placeholder="select Division"
                (selectionChange)="applyFilterByOptions()" [(ngModel)]="selectDivision">
                <mat-option [value]="division.divisionName" style="color: #912BBC;" [value]="division.divisionCode"
                    *ngFor="let division of divisionList">{{division.divisionCode}} -
                    {{division.divisionName}}</mat-option>


            </mat-select>
        </div>

        <div class="col">
            <label>Scheme Name</label><br>
            <mat-select style="overflow: hidden;" style="padding: 0.5rem 1rem;
            border: 1px solid #ccc;
            border-radius: 1rem;
            background-color: #F6F8FA;border: 1px solid #470A3C;" placeholder="select Scheme"
                (selectionChange)="applyFilterByOptions()" [(ngModel)]="selectScheme">

                <mat-option [value]="schemeName" *ngFor="let schemeName of schemeNameList">{{schemeName}}</mat-option>
            </mat-select>
        </div>
        <div class="col">
            <label> Type</label><br>
            <mat-select style="overflow: hidden;" style="padding: 0.5rem 1rem;
            border: 1px solid #ccc;
            border-radius: 1rem;
            background-color: #F6F8FA;border: 1px solid #470A3C;" placeholder="select Scheme type"
                (selectionChange)="applyFilterByOptions()" [(ngModel)]="selectSchemeType">

                <mat-option value="HIG">HIG</mat-option>
                <mat-option value="MIG">MIG</mat-option>
                <mat-option value="LIG">LIG</mat-option>
                <mat-option value="EWS">EWS</mat-option>
                <mat-option value="SHIG">SHIG</mat-option>
                <mat-option value="CMR">CMR</mat-option>




            </mat-select>
        </div>

        <div class="col">
            <label>Unit Type</label><br>
            <mat-select style="overflow: hidden;" style="padding: 0.5rem 1rem;
            border: 1px solid #ccc;
            border-radius: 1rem;
            background-color: #F6F8FA;border: 1px solid #470A3C;" placeholder="select Unit type"
                (selectionChange)="applyFilterByOptions()" [(ngModel)]="selectTypeofHouse">

                <mat-option value="Flat">Flat</mat-option>
                <mat-option value="House">House</mat-option>
                <mat-option value="Plot">Plot</mat-option>


            </mat-select>
        </div>

        <!-- <div class="col-2">
            <label>Date</label><br>
            <input type="date" style="padding: 5px;
            background: white;
            border-radius: 10px;" [(ngModel)]="selectedDate" (change)="applyFilterByOptions()">
        </div> -->
    </div>


    <div class="mat-elevation-z8">
        <div style="overflow-x: auto;">
            <!-- <table mat-table [dataSource]="dataSource" matSort hidden>

                <ng-container matColumnDef="sno">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>S.No.</th>
                    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                </ng-container>

               

                <ng-container matColumnDef="schemeCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Scheme Code</th>
                    <td mat-cell *matCellDef="let element">{{ element.schemeCode }}</td>
                </ng-container>

                <ng-container matColumnDef="schemeName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Scheme Name</th>
                    <td mat-cell *matCellDef="let element">{{ element.schemeName }}</td>
                </ng-container>

                <ng-container matColumnDef="schemePlace">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Scheme Place</th>
                    <td mat-cell *matCellDef="let element">{{ element.schemePlace }}</td>
                </ng-container>

                <ng-container matColumnDef="district">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>District</th>
                    <td mat-cell *matCellDef="let element">{{ element.district }}</td>
                </ng-container>

                <ng-container matColumnDef="unitType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit Type</th>
                    <td mat-cell *matCellDef="let element">{{ element.unitType }}</td>
                </ng-container>

                <ng-container matColumnDef="schemeType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Scheme Type</th>
                    <td mat-cell *matCellDef="let element">{{ element.schemeType }}</td>
                </ng-container>

                <ng-container matColumnDef="application">
                    <th mat-header-cell *matHeaderCellDef>Application</th>
                    <td mat-cell *matCellDef="let element">
                       

                        <label style="font-size: 15px;
                        
                        background: #673AB7;
                        color: white;
                        border-radius: 5px;
                        text-align: center;
                        padding:5px;margin: 5px;" (click)="viewAllApplicationsBySchemeId(element.id)">View
                            Application</label>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data</td>
                </tr>
            </table> -->

            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="sno">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>S.No.</th>
                    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                </ng-container>




                <ng-container matColumnDef="unitAccountNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Number</th>
                    <td mat-cell *matCellDef="let element">{{ element?.unitData?.unitAccountNumber }}</td>
                </ng-container>

                <ng-container matColumnDef="schemeName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Scheme Name</th>
                    <td mat-cell *matCellDef="let element">{{ element?.schemeData?.schemeName }}</td>
                </ng-container>

                <ng-container matColumnDef="schemeType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                    <td mat-cell *matCellDef="let element">{{ element?.schemeData?.schemeType }}</td>
                </ng-container>

                <ng-container matColumnDef="unitNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>UnitNo.</th>
                    <td mat-cell *matCellDef="let element">{{ element?.unitData?.unitNo }}</td>
                </ng-container>

                <ng-container matColumnDef="unittype">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit Type</th>
                    <td mat-cell *matCellDef="let element">{{element?.schemeData?.unitType}}</td>
                </ng-container>

                <ng-container matColumnDef="applicantName">
                    <th mat-header-cell *matHeaderCellDef>Allottee Name</th>
                    <td mat-cell *matCellDef="let element">


                        {{element.applicantName}}
                    </td>
                </ng-container>


                <ng-container matColumnDef="unitcost">
                    <th mat-header-cell *matHeaderCellDef>Unit Cost</th>
                    <td mat-cell *matCellDef="let element">
                    </td>
                </ng-container>

                <ng-container matColumnDef="paidsofar">
                    <th mat-header-cell *matHeaderCellDef>Paid So far</th>
                    <td mat-cell *matCellDef="let element">
                    </td>
                </ng-container>

                <ng-container matColumnDef="duedate">
                    <th mat-header-cell *matHeaderCellDef>Due Date</th>
                    <td mat-cell *matCellDef="let element">
                    </td>
                </ng-container>

                <ng-container matColumnDef="echallanstatus">
                    <th mat-header-cell *matHeaderCellDef>E - Challan Status</th>
                    <td mat-cell *matCellDef="let element">
                    </td>
                </ng-container>

                <ng-container matColumnDef="projectstatus">
                    <th mat-header-cell *matHeaderCellDef>Project Status</th>
                    <td mat-cell *matCellDef="let element">{{element.schemeData.projectStatus}}
                    </td>
                </ng-container>




                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Status</th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <button type="button" class="btn btn-primary viewBtn"
                            (click)="viewAllApplicationsBySchemeId(element.id)">View</button>
                        <!-- <button type="button" class="btn btn-success accept"
                            (click)="allotApplication(element.id)">Accept</button>
                    
                        <button type="button" class="btn btn-primary viewBtn"
                            (click)="viewAllApplicationsBySchemeId(element.id)">View</button> -->
                        <!-- <button type="button" class="btn btn-success accept"
                            (click)="allotApplication(element.id)">Accept</button>
                        <button type="button" class="btn btn-danger reject"
                            (click)="rejectApplication(element)">Reject</button> -->


                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data</td>
                </tr>
            </table>
        </div>

        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
    </div>

</main>