<section class="main">
    <div class="login">
        <div style="display: flex;justify-content: center;">
            <img src="../../../assets/images/tnhb_logo.png" alt="" style="width: 80%;">
        </div>
        <h2 style="text-align: center; font-weight: bold; font-size: 1.2rem; margin: 1rem 0;">Officer - Forgot Password
        </h2>

        <div class="login-form">
            <div autocomplete="off">
                <div class="mb-3">
                    <label for="username" class="form-label fw-bold">Username</label>
                    <input type="text" class="form-control" id="username" [(ngModel)]="username" required
                        autocomplete="off" maxlength="20" [readOnly]="usernameDisable"
                        (keypress)="inputValidate($event,'alphaNumericWithUnderscore')">
                </div>
                <div class="mb-3">
                    <button mat-raised-button color="primary" (click)="sendOtp()" [disabled]="sendOtpDisable"
                        keypress>Send
                        OTP</button>
                </div>
                <div class="mb-3" *ngIf="password">
                    <label class="form-label fw-bold">OTP</label>
                    <input type="text" class="form-control" [(ngModel)]="otp" placeholder="Enter 6 digit OTP"
                        maxlength="6" (keypress)="inputValidate($event,'numbersonly')">
                </div>
                <div class="mb-3" *ngIf="password">
                    <label for="password" class="form-label fw-bold">New Password</label>
                    <input type="password" class="form-control" id="password" [(ngModel)]="newpassword" required
                        autocomplete="off" maxlength="16">
                </div>
                <div class="mb-3" *ngIf="password">
                    <label for="cnfpassword" class="form-label fw-bold">Confirm Password</label>
                    <input type="password" class="form-control" id="cnfpassword" [(ngModel)]="cnfpassword" required
                        autocomplete="off" maxlength="16">
                </div>
                <div class="mb-2 captcha-container" *ngIf="password">
                    <div class="captcha" [ngStyle]="captchaStyle" (contextmenu)="preventRightClick($event)">
                        <span class="captcha-text" unselectable="on" onselectstart="return false;"
                            onmousedown="return false;"
                            style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none;">{{ captcha
                            }}</span>
                    </div>
                    <button class="refresh-icon" (click)="generateCaptcha()">
                        <i class="fa-solid fa-rotate"></i>
                    </button>
                </div>
                <div class="mb-3" *ngIf="password">
                    <input type="text" class="form-control" [(ngModel)]="captchaCode" placeholder="Enter CAPTCHA"
                        maxlength="6" (keypress)="inputValidate($event,'alphaNumeric')">
                </div>
            </div>
            <div class="mb-2" style="padding: 0 3rem;" *ngIf="password">
                <button type="submit" class="btn btn-primary" (click)="resetPassword()">Login</button>
            </div>
        </div>
    </div>
</section>