#main {
    padding: 2rem;

    .row {
        padding: 10px;
    }

    .label_style {
        color: #0C1E5B;
        font-weight: 600;
    }

    .col_right_style {
        border-right-style: solid;
        border-right-color: #0C1E5B;
    }

    table {
        width: 100%;
    }


}